<div fxLayout="column" fxLayoutGap="1rem" fxFlex.gt-sm="80" fxFlex.gt-md="60" fxFlex.gt-lg="40" class="content-container">
	<mat-card>
		<mat-card-title>HYPER Lego Webapp</mat-card-title>
		<mat-card-subtitle>v0.3.0 &mdash; Chris McGroarty &amp; Jin Lem</mat-card-subtitle>
		<mat-card-content>
			<p>Built with Angular v6 and SailsJS v1</p>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-header>
			<mat-card-title>iDesign Consulting</mat-card-title>
			<mat-card-subtitle>Web Design, Development, Hosting, &amp; More</mat-card-subtitle>
			<img mat-card-avatar src="assets/images/iD-Tile.png"/>
		</mat-card-header>
		<mat-card-actions fxLayoutAlign="space-between">
			<a mat-button target="_blank" rel="noopener" href="https://iDesignConsulting.com">iDesign.co</a>
			<a mat-button target="_blank" rel="noopener" href="https://facebook.com/idesignco">@Facebook</a>
			<a mat-button target="_blank" rel="noopener" href="https://instagram.com/idesignconsulting">@Instagram</a>
		</mat-card-actions>
	</mat-card>
	<mat-card>
		<mat-card-header>
			<mat-card-title>Team HYPER Robotics</mat-card-title>
			<mat-card-subtitle>FRC #69</mat-card-subtitle>
			<img mat-card-avatar src="assets/images/Gear_2015.png"/>
		</mat-card-header>
		<img mat-card-image src="assets/images/2018_team_photo_crop.jpg">
		<mat-card-actions fxLayoutAlign="space-between">
			<a mat-button target="_blank" rel="noopener" href="https://hyperonline.org">HYPERONLINE.ORG</a>
			<a mat-button target="_blank" rel="noopener" href="https://facebook.com/teamhyperonline">@Facebook</a>
			<a mat-button target="_blank" rel="noopener" href="https://instagram.com/teamhyperonline">@Instagram</a>
		</mat-card-actions>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>HYPER Alumni Association</mat-card-title>
			<mat-card-subtitle>Dedicated to improving &amp; expanding Team HYPER</mat-card-subtitle>
			<img mat-card-avatar src="assets/images/HA_Gear_2015_google.png"/>
		</mat-card-header>
		<img mat-card-image src="assets/images/2015_hyper_kickoff_teamphotos-2_sm.jpg">
		<mat-card-actions fxLayoutAlign="space-between">
			<a mat-button target="_blank" rel="noopener" href="https://hyperalumni.org">HYPERALUMNI.ORG</a>
			<a mat-button target="_blank" rel="noopener" href="https://facebook.com/hyperalumni">@Facebook</a>
			<a mat-button target="_blank" rel="noopener" href="https://instagram.com/hyperalumni">@Instagram</a>
		</mat-card-actions>
	</mat-card>
</div>
