<div class="track-container" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1rem">
	<div class="album-art"
		 [ngStyle]="{'background-image':'url('+(track?.album.images[1].url | spotifyImage)+')' }" ></div>
	<div fxLayout="column" fxLayoutAlign="center start" class="track-info">
		<div class="mat-title">{{track?.name}}</div>
		<div class="mat-body-2">{{track?.artists[0].name}}</div>
		<div class="mat-body-1">{{track?.album.name}}</div>
		<div class="mat-caption">{{track?.duration_ms | date:'mm:ss'}}</div>
	</div>
</div>
