<div fxLayout="row" fxFlexFill="" [ngClass]="{display: bigTeamText}">
	<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="6%" fxLayoutGap.gt-md="10%" fxFlex fxLayoutAlign="center center">
		<div fxLayout="column" fxLayoutAlign="center center" *ngIf="score1A !== undefined">
			<div class="mat-body-1">Table 1A</div>
			<div class="mat-caption" *ngIf="!bigTeamText">Team #</div>
			<div class="mat-title">{{score1A?.team |
				number:'2.0-0'}}
			</div>
		</div>
		<div fxLayout="column" fxLayoutAlign="center center" *ngIf="score1B !== undefined">
			<div class="mat-body-1">Table 1B</div>
			<div class="mat-caption" *ngIf="!bigTeamText">Team #</div>
			<div class="mat-title">{{score1B?.team |
				number:'2.0-0'}}
			</div>
		</div>
	</div>
	<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="6%" fxLayoutGap.gt-md="10%" fxFlex fxLayoutAlign="center center">
		<div fxLayout="column" fxLayoutAlign="center center" *ngIf="score2A !== undefined">
			<div class="mat-body-1">Table 2A</div>
			<div class="mat-caption" *ngIf="!bigTeamText">Team #</div>
			<div class="mat-title">{{score2A?.team |
				number:'2.0-0'}}
			</div>
		</div>
		<div fxLayout="column" fxLayoutAlign="center center" *ngIf="score2B !== undefined">
			<div class="mat-body-1">Table 2B</div>
			<div class="mat-caption" *ngIf="!bigTeamText">Team #</div>
			<div class="mat-title">{{score2B?.team |
				number:'2.0-0'}}
			</div>
		</div>
	</div>
</div>