.mat-display-4, .mat-display-3, .mat-display-2, .mat-display-1, .mat-title, .mat-subheading-1 {
	margin-bottom: 0;
}
.mat-title {
	line-height:20px;
}

.display{
	.mat-title {
		font-size: 3em;
		line-height: 1em;
	}
}