<div #matchesContainer fxFlexFill id="matchesContainer"  fxLayout="column" fxFlex.gt-sm="80" fxFlex.gt-md="60" fxFlex.gt-lg="40" fxLayoutGap="0.5%">

	<div *ngFor="let match of matches$ | async | orderBy:'id'"id="match{{match.id}}" [ngClass]="matchStatusClass(match.status)">
		<mat-card>
			<mat-card-content>
				<div fxLayout="row">
					<div fxLayout="row" fxFlex="25" fxFlex.gt-md="30" fxLayoutAlign="start center">
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-caption">Match #</div>
							<div class="mat-display-2">{{match.id | number:'2.0-0'}}</div>
							<div class="mat-body-2">{{match.time | amDateFormat: 'hh:mm A'}}</div>
							<div class="mat-caption">{{(isMatchPlaying(match) ? "playing now" : match.time | amTimeAgo)}}</div>
						</div>
					</div>
					<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="6%" fxLayoutGap.gt-md="10%" fxFlex>
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-body-1">Table 1.A</div>
							<div class="mat-title">#01</div>
						</div>
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-body-1">Table 1.B</div>
							<div class="mat-title">#02</div>
						</div>
					</div>
					<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="6%" fxLayoutGap.gt-md="10%" fxFlex>
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-body-1">Table 2.A</div>
							<div class="mat-title">#03</div>
						</div>
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-body-1">Table 2.B</div>
							<div class="mat-title">#04</div>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<mat-list *ngIf="(matches$ | async).length < 1">
		<mat-list-item><span class="mat-subheading-1">No Schedule to Display</span></mat-list-item>
	</mat-list>

</div>
