<div class="matches-container" fxLayout="column" fxFlex.gt-sm="80" fxFlex.gt-md="60" fxFlex.gt-lg="40"
	 fxLayoutGap="0.5%">

	<div *ngFor="let match of matches | orderBy:'id'"
		 [ngClass]="matchStatusClass(match.status)">
		<a id="match{{match.id}}" class="anchor"></a>
		<mat-card>
			<mat-card-content>
				<div fxLayout="row">
					<div fxLayout="row" fxFlex="25" fxFlex.gt-md="30" fxLayoutAlign="start center">
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-caption">Match #</div>
							<div class="mat-display-2">{{match.id | number:'2.0-0'}}</div>
							<div class="mat-body-2">{{match.time | amDateFormat: 'hh:mm A'}}</div>
							<div class="mat-caption">{{(isMatchPlaying(match) ? "playing now" : match.time |
								amTimeAgo)}}
							</div>
						</div>
					</div>
					<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="6%" fxLayoutGap.gt-md="10%" fxFlex>
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-body-1">Table 1.A</div>
							<div class="mat-title">#{{getScoreByTable(match.scores, table.ONE_A)?.team |
								number:'2.0-0'}}
							</div>
						</div>
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-body-1">Table 1.B</div>
							<div class="mat-title">#{{getScoreByTable(match.scores, table.ONE_B)?.team |
								number:'2.0-0'}}
							</div>
						</div>
					</div>
					<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="6%" fxLayoutGap.gt-md="10%" fxFlex>
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-body-1">Table 2.A</div>
							<div class="mat-title">#{{getScoreByTable(match.scores, table.TWO_A)?.team |
								number:'2.0-0'}}
							</div>
						</div>
						<div fxLayout="column" fxLayoutAlign="center center">
							<div class="mat-body-1">Table 2.B</div>
							<div class="mat-title">#{{getScoreByTable(match.scores, table.TWO_B)?.team |
								number:'2.0-0'}}
							</div>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<mat-list *ngIf="matches?.length < 1">
		<mat-list-item><span class="mat-subheading-2">No Schedule to Display</span></mat-list-item>
	</mat-list>

</div>
