<div class="fullpage timer-container">
	<hyper-current-match-toolbar currentMatch="currentMatch">
		<span [ngSwitch]="isAudioSuspended()">
			<button mat-icon-button (click)="unlockAudio()" *ngSwitchCase="true">
				<mat-icon>volume_off</mat-icon>
			</button>
			<button mat-icon-button *ngSwitchCase="false">
				<mat-icon>volume_up</mat-icon>
			</button>
		</span>
	</hyper-current-match-toolbar>
	<div fxFlex="grow"></div>
	<div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="center center">
		<div class="timer-text mat-display-4" [ngStyle]="{'color': timer | timerColor}">{{timer?.time * 1000 |
			date:'mm:ss'}}
		</div>
	</div>
</div>