<div class="fullpage timer-container">
	<hyper-current-match-toolbar [currentMatch]="currentMatch">
		<span [ngSwitch]="isAudioSuspended()">
			<button mat-icon-button (click)="unlockAudio()" *ngSwitchCase="true">
				<mat-icon>volume_off</mat-icon>
			</button>
			<button mat-icon-button *ngSwitchCase="false">
				<mat-icon>volume_up</mat-icon>
			</button>
		</span>
	</hyper-current-match-toolbar>

	<div fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
		<div fxShow="false" fxShow.gt-sm="true" class="mat-display-4">
			<mat-icon>wifi</mat-icon>
			HYPER PORTAL
		</div>
	</div>
	<div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="center center"
		 style="border-top: 1px dotted lightgray;">
		<div fxShow="false" fxShow.gt-sm="true" fxFlex="15" fxLayoutAlign="center center"><img
			src="assets/images/Logo_2015.svg" style="max-width:80%;"/></div>
		<div fxShow="false" fxShow.gt-sm="true" fxFlex="20" fxLayoutAlign="center center">
			<div fxLayout="column" fxLayoutAlign="center center" *ngIf="currentMatch">
				<span class="mat-subheading-1">Match #</span>
				<span class="mat-display-3">{{currentMatch?.id | number:'2.0-0'}}</span>
			</div>
		</div>
		<div fxFlex="100" fxFlex.gt-sm="30" fxLayoutAlign="center center" class="timer-text mat-display-4"
			 [ngStyle]="{'color': timer | timerColor}">
			{{timer?.time * 1000 | date:'mm'}}<span class="colon">:</span>{{timer?.time * 1000 | date:'ss'}}
		</div>
		<div fxShow="false" fxShow.gt-sm="true" fxFlex="35">
			<hyper-score-table-display [scores]="currentMatch?.scores" [bigTeamText]="true">
			</hyper-score-table-display>
		</div>
	</div>
</div>