<div class="content-container">
	<div fxFlex fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1rem">
		<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4%">
			<div class="media" fxFlex="60" fxFlex.gt-sm="25">
				<img src="assets/images/qpsrc_logo_sm.png"/>
			</div>
			<div class="media" fxFlex="60" fxFlex.gt-sm="25">
				<img src="assets/images/WorldClassLogo_sm.png"/>
			</div>
		</div>
		<div fxLayout="row" fxLayoutAlign="center">
			<div fxFlex.gt-sm="80" fxLayoutGap="1rem" fxLayout="column" fxLayout.gt-md="row"
				 fxLayoutAlign.gt-md="center">
				<mat-card fxFlex.gt-md="50">
					<mat-card-title>QPS Robotics Challenge</mat-card-title>
					<mat-card-content class="mat-typography">
						<h2>Who</h2>
						<p>
							Grades 5 – 8 Robotics Team Members and all who would like to spectate and support
							(parents/guardians welcome and encouraged to attend).
						</p>
						<h2>What</h2>
						<p>
							A city wide challenge where teams from participating schools accumulate points as they
							complete research, presentation, team oriented, and robotic tasks. For years, we hosted an
							FLL (First Lego League) qualifier competition in December where middle school aged teams
							from all over Eastern Massachusetts gathered for the chance to advance to the state-wide
							competition. We also have created and maintain a city-wide competition known as the Quincy
							Robotics Challenge for teams within all Quincy middle schools to compete. As of last year,
							we have expanded that competition into the elementary 5th grade level and hope to continue
							to inspire the next generation of HYPER team members.
						</p>
						<h2>Today's Agenda</h2>
						<div fxLayout="row" fxLayoutGap="1rem">
							<div fxLayout="column" fxFlex="25" fxLayoutAlign="start end">
								<div class="mat-body-2">10:00 – 10:15</div>
								<div class="mat-body-2">10:15 – 12:00</div>
								<div class="mat-body-2">12:15 – 12:45</div>
								<div class="mat-body-2">12:30 – 01:00</div>
								<div class="mat-body-2">01:15 – 01:30</div>
							</div>
							<div fxLayout="column" fxFlex="75" fxLayoutAlign="start start">
								<div class="mat-body-2">Welcome/Opening Ceremonies</div>
								<div class="mat-body-2">Competition Rounds & Judging</div>
								<div class="mat-body-2">Break for Lunch</div>
								<div class="mat-body-2">Final Competition Round</div>
								<div class="mat-body-2">Raffle Drawings & Awards Ceremony</div>
							</div>
						</div>

					</mat-card-content>
					<mat-card-actions fxLayoutAlign="space-around">
						<button mat-button>Robot Missions</button>
						<button mat-button>The Project</button>
						<button mat-button>Challenge Rules</button>
					</mat-card-actions>
				</mat-card>
				<mat-card fxFlex.gt-md="50">
					<mat-card-header>
						<mat-card-title>Team HYPER Robotics</mat-card-title>
						<mat-card-subtitle>FRC #69</mat-card-subtitle>
						<img mat-card-avatar src="assets/images/Gear_2015.png"/>
					</mat-card-header>
					<img mat-card-image src="assets/images/2018_robot_lift2_sm.jpg">
					<mat-card-content class="mat-typography">
						<p>
							Team HYPER (FRC#69) is a FIRST Robotics Competition Team competing at the high school level
							of the FIRST Robotics programs. Founded in 1996, HYPER just completed its 23rd season,
							competing in the New England District Competitions in Connecticut and Revere.
						</p>
						<p>FRC is the evolution of the FLL program. The robots you see here today are made of Legos,
							when your child reaches our program, they will help machine and build our robot from metal.
							This year's robot weighed 120lbs and stood over 4 feet tall. </p>
						<p>We can't wait to have these FLL students join Team HYPER in high school!</p>
					</mat-card-content>
					<mat-card-actions fxLayoutAlign="space-between">
						<a mat-button target="_blank" rel="noopener" href="https://hyperonline.org">HYPERONLINE.ORG</a>
						<a mat-button target="_blank" rel="noopener"
						   href="https://facebook.com/teamhyperonline">@Facebook</a>
						<a mat-button target="_blank" rel="noopener"
						   href="https://instagram.com/teamhyperonline">@Instagram</a>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div fxLayout="row" fxLayoutAlign="center">
			<mat-card fxFlex="100" fxFlex.gt-sm="80">
				<mat-card-title>FLL World Class</mat-card-title>
				<mat-card-content class="mat-typography">
					<p>
						What is the future of learning? FIRST LEGO League teams will find the answers. In the FLL WORLD
						CLASS Challenge, over 230,000 children ages 9 to 14 from over 70 countries will redesign how we
						gather knowledge and skills in the 21st century. Teams will teach adults about the ways that
						kids need and want to learn. Get ready for a whole new class – FLL WORLD CLASS!
					</p>
					<p>
						FLL challenges kids to think like scientists and engineers. During the FLL WORLD CLASS season,
						teams will build, test, and program an autonomous robot using LEGO MINDSTORMS to solve a set of
						missions in the Robot Game. They will also choose and solve a real-world question in the
						Project. Throughout their experience, teams will operate under FLL’s signature set of Core
						Values.
					</p>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>