<mat-nav-list class="hyper-list">
	<mat-list-item *ngIf="filteredTeams()?.length < 1"><span class="mat-subheading-2">No Teams to Display</span>
		<mat-divider></mat-divider>
	</mat-list-item>
	<mat-list-item *ngFor="let team of filteredTeams() | orderBy:'id'" routerLink="/team/{{team.id}}/">
		<div fxLayout="row" fxFlexFill fxLayoutGap="2rem">
			<div fxFlex.gt-md="10" fxLayout="row" fxLayoutAlign="center center">

					<span class="mat-display-1">#</span>
					<span class="mat-display-2">{{team.id | number:'2.0-0'}}</span>

			</div>
			<div class="teamInfo" fxFlex="grow" fxLayout="column" fxLayoutAlign="center start">
				<div class="mat-title">{{team.name}}</div>
				<div class="mat-subheading-2">{{team.school}}</div>
				<div class="mat-caption">{{team.division}}</div>
			</div>
		</div>
		<mat-divider></mat-divider>
	</mat-list-item>
</mat-nav-list>
