.mat-display-4,.mat-display-3,.mat-display-2,.mat-display-1 {
	margin-bottom: 0;
}

.mat-nav-list {
	.mat-list-item {
		height: fit-content;


		.mat-list-item-content {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		.teamInfo {
			.mat-title, .mat-subheading-2, .mat-caption {
				margin-bottom: 0;
			}
		}
	}
}

