AddType image/svg+xml svg

RewriteEngine on

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite everything else to index.html to allow HTML5 state links
RewriteRule ^ index.html [L]

<IfModule mod_brotli.c>
AddOutputFilterByType BROTLI_COMPRESS text/html text/plain text/xml text/css text/javascript application/x-javascript application/javascript application/json application/x-font-ttf application/vnd.ms-fontobject image/x-icon
        BrotliFilterNote Input brotli_input_info
        BrotliFilterNote Output brotli_output_info
        BrotliFilterNote Ratio brotli_ratio_info
        LogFormat '"%r" %{brotli_output_info}n/%{brotli_input_info}n (%{brotli_ratio_info}n%%)' brotli
        CustomLog "|${APACHE_ROOT}/bin/rotatelogs ${APACHE_LOG_DIR}/brotli_log.%Y%m%d 86400" brotli

        #Don't compress content which is already compressed
        SetEnvIfNoCase Request_URI \
        \.(gif|jpe?g|png|swf|woff|woff2) no-brotli dont-vary

        # Make sure proxies don't deliver the wrong content
        Header append Vary User-Agent env=!dont-vary
</IfModule>

<IfModule mod_deflate.c>
        AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript application/javascript application/json application/x-font-ttf application/vnd.ms-fontobject image/x-icon
        DeflateFilterNote Input input_info
        DeflateFilterNote Output output_info
        DeflateFilterNote Ratio ratio_info
        LogFormat '"%r" %{output_info}n/%{input_info}n (%{ratio_info}n%%)' deflate
        CustomLog "|${APACHE_ROOT}/bin/rotatelogs ${APACHE_LOG_DIR}/deflate_log.%Y%m%d 86400" deflate

        #Don't compress content which is already compressed
        SetEnvIfNoCase Request_URI \
        \.(gif|jpe?g|png|swf|woff|woff2) no-gzip dont-vary

        # Make sure proxies don't deliver the wrong content
        Header append Vary User-Agent env=!dont-vary
</IfModule>