@import 'app/shared/material/material.module';

.fullpage {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.fit-parent {
	max-width:100%;
}

button {
	&.success {
		$success-hue: 700;
		background: mat-color($mat-green, $success-hue);
		color: mat-contrast($mat-green, $success-hue);
	}

	&.secondary {
		$secondary-hue: 700;
		background: mat-color($mat-gray, $secondary-hue);
		color: mat-contrast($mat-gray, $secondary-hue);
	}
}

.timer-container {
	.timer-text {
		font-weight: 400;
		-webkit-transition: 300ms ease-out color;
		-moz-transition: 300ms ease-out color;
		-ms-transition: 300ms ease-out color;
		-o-transition: 300ms ease-out color;
		transition: 300ms ease-out color;
	}
}

.container {
	.content-container {
		padding: 1rem;
		.media {
			img {
				max-width: 100%;
			}
		}
	}
}

.hyper-list {
	.mat-display-4, .mat-display-3, .mat-display-2, .mat-display-1, .mat-subheading-2, .mat-headline, .mat-title, .mat-subheading-1 {
		margin-bottom: 0;
	}
	&.mat-tab-body {
		height: 0 !important;
	}
	&.mat-nav-list, &.mat-list {
		padding-top: 0;
		.mat-list-item {
			height: fit-content;

			.mat-list-item-content {
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
		}
	}
	.team-info {
		min-width: 0;
		div {
			@include mat-truncate-line();
			width: 100%;
		}

		.mat-subheading-2 {
			font-weight: 500;
		}
	}
}
